{% extends 'base.html' %}
{% block title %}Editar Visita{% endblock %}

{% block content %}
<h1>Editar Visita</h1>


<form method="POST" action="{% url 'visitas:editar_visitas' visita_id=visitantes.id %}">
    {% csrf_token %}

    <label for="id_nome">Nome:</label><br>
    <input type="text" id="id_nome" name="nome" placeholder="{{ visitantes.nome }}" value="{{ visitantes.nome }}"
        required>
    <br>
    <label for="id_doc">Documento:</label><br>
    <input type="text" id="id_doc" name="doc" placeholder="{{ visitantes.doc }}" value="{{ visitantes.doc }}" required>
    <br>
    <label for="id_telefone">Telefone:</label><br>
    <input type="text" id="id_telefone" name="telefone" placeholder="{{ visitantes.telefone }}"
        value="{{ visitantes.telefone }}" required>
    <br>
    <input type="submit" value="Salvar">
</form>

<br>

<button> <a href="{% url 'visitas:home' %}"> Voltar </a></button>



{% endblock %}