{% extends 'base.html' %}

{% block title %}Editar Visita{% endblock %}

{% block content %}
<h1>Editar Visita</h1>

<form method="POST" action="{% url 'visitas:editar_visitas' visita_id=visitantes.id %}">
    {% csrf_token %}

    <label for="nome">Nome:</label>
    <input type="text" id="nome" name="nome" value="{{ visita.nome }}" required>

    <label for="doc">Documento:</label>
    <input type="text" id="doc" name="doc" value="{{ visita.doc }}" required>

    <label for="telefone">Telefone:</label>
    <input type="text" id="telefone" name="telefone" value="{{ visita.telefone }}" required>

    <input type="submit" value="Salvar">
</form>

{% endblock %}