{% extends 'base.html' %}

{% block title %}Home{% endblock %}



{% block content %}


<h1>Bem vindo ao projeto</h1>



<div class="list-group">
    <a href="#" class="list-group-item list-group-item-action"> Adicionar Visitas </a>
    <a href="{% url 'visitas:listar_visitas' %}" class="list-group-item list-group-item-action"> Listar Visitas </a>
    <a href="#" class="list-group-item list-group-item-action"> Editar Visitas </a>
    <a href="#" class="list-group-item list-group-item-action"> Excluir Visitas </a>
</div>





{% endblock %}