{% extends 'base.html' %}
{% block title %}Listar visitas{% endblock %}



{% block content %}


<h1> Listar visitas </h1>

{% for visitante in visitantes %}
<hr>
<p>Nome: {{ visitante.nome }}</p>
<p>Documento: {{ visitante.doc }}</p>
<p>Telefone: {{ visitante.telefone }}</p>
<a href="{% url 'visitas:editar_visitas' visita_id=visitante.id %}">Editar</a>
<a href="{% url 'visitas:excluir_visitas' visita_id=visitante.id %}">Excluir</a>
<hr>
{% endfor %}

<button> <a href="{% url 'visitas:home' %}"> Voltar </a></button>


{% endblock %}